@model StudentManagement.Entities.Actor

@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div style="text-align:center">
        <h4>You have logged out of the system</h4>
    </div>
}